<div >
    <table>
        <tr>
            <td>
                URL:
            </td>
            <td>
                <input id="url" type="text" style="width:300px;"/>    
            </td>
        </tr>
        <tr>
            <td>
                DATA:
            </td>
            <td>
                <textarea id="data" rows="10" cols="32"></textarea>    
            </td>
        </tr>
    </table>
</div>