<div class="data">
    <table>
        <tr>
            <td>
                URL:
            </td>
            <td>
                <input id="url" type="text" style="width:343px;"/>    
            </td>
        </tr>
        <tr>
            <td>
                DATA:
            </td>
            <td>
                <textarea id="data" rows="10" cols="40"></textarea>    
            </td>
        </tr>
    </table>
</div>