<% layout('layouts/layout') -%>
<% script('js/index.js') -%>
<% stylesheet('styles/style.css') -%>
<% block('script', '<script type="text/javascript"> $(document).ready(function(){ init();}); </script>' ) -%>
<div class="bordered">
    <h1>This is a <%=what%></h1>
    <input id="btn1" type="button" value="OK" />
</div>