<% layout('layouts/layout_0_0_1') -%>
<% script('js/foo.js') -%>
<% stylesheet('styles/style.css') -%>
<div class="bordered">
    <h1>This is a <%=what%></h1>
</div>
<!--<% block('header', "<p>Header.</p>") -%>
<% block('footer', "<p>Footer.</p>") -%>-->
