<% layout('layouts/layout') -%>
<% script('js/index.js') -%>
<% stylesheet('styles/index.css') -%>
<% block('script', '<script type="text/javascript"> $(document).ready(function(){ init();}); </script>' ) -%>
<div class="bordered">
    <h1>This is a <%=what%></h1>
    <input id="btn1" type="button" value="GET" />
    <input id="btn2" type="button" value="POST" />
    <input id="btn3" type="button" value="PUT" />
    <input id="btn4" type="button" value="DELETE" />
    <%-partial('./partials/data')%>
</div>