<% stylesheet('styles/header.css') -%>
<div class='header'></div>
<div class='header headerfloat'>
    <div class='headerspacer'></div>
    <div class='headerbutton'></div>
    <div class='headerbutton'></div>
    <div class='headerbutton'></div>
    <div class='headerbutton'></div>
    <div class='headerspacer'></div>
</div>
