<table class='logintable'>
    <tr>
        <td>
            <span>username:</span>
        </td>
        <td>
            <input type="text" class='logintext' ng-model='account.username.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>password:</span>
        </td>
        <td>
            <input type="password" class='logintext' ng-model='account.password.value'>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <form ng-submit="signin()" class='loginform'>
                <input type="submit" value="Login">
            </form>
            <form ng-submit="cancel(4)" class='loginform'>
                <input type="submit" value="Cancel">
            </form>
        </td>
    </tr>
</table>