<table class='logintable'>
    <tr>
        <td>
            <span>username:</span>
        </td>
        <td>
            <input type="text" ng-model='account.username.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>current password:</span>
        </td>
        <td>
            <input type="password" ng-model='account.password.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>new password:</span>
        </td>
        <td>
            <input type="password" ng-model='account.passwordnew.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>confirm it:</span>
        </td>
        <td>
            <input type="password" ng-model='account.confirm.value' ng-class="account.confirm.style" ui-validate='passwordConfirm'>
        </td>
    </tr>
    <tr>
        <td>
            <span>pin:</span>
        </td>
        <td>
            <input type="text" ng-model='account.pin.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>email:</span>
        </td>
        <td>
            <input type="text" ng-model='account.email.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>first name:</span>
        </td>
        <td>
            <input type="text" ng-model='account.firstname.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>last name:</span>
        </td>
        <td>
            <input type="text" ng-model='account.lastname.value'>
        </td>
    </tr>
    <tr>
        <td>
            <span>display name:</span>
        </td>
        <td>
            <input type="text" ng-model='account.displayname.value'>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <form ng-submit="update()" class='loginform'>
                <input type="submit" value="Update">
            </form>
            <form ng-submit="cancel(0)" class='loginform'>
                <input type="submit" value="Cancel">
            </form>
        </td>
    </tr>
</table>
