<table class='logintable'>
    <tr>
        <td>
            <span>username:</span>
        </td>
        <td>
            <input type="text" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>password:</span>
        </td>
        <td>
            <input type="password" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>confirm it:</span>
        </td>
        <td>
            <input type="password" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>PIN:</span>
        </td>
        <td>
            <input type="text" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>email:</span>
        </td>
        <td>
            <input type="text" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>first name:</span>
        </td>
        <td>
            <input type="text" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>last name:</span>
        </td>
        <td>
            <input type="text" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>display name:</span>
        </td>
        <td>
            <input type="text" class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <form ng-submit="create()" class='loginform'>
                <input type="submit" value="Register" class='loginbutton'>
            </form>
            <form ng-submit="cancel()" class='loginform'>
                <input type="submit" value="Cancel" class='loginbutton'>
            </form>
        </td>
    </tr>
</table>
