<table class='logintable'>
    <tr>
        <td>
            <span>username:</span>
        </td>
        <td>
            <input type="text" class='logintext' ng-model='account.username.value' ng-class='account.username.style' title={{account.username.tooltip}} >
        </td>
    </tr>
    <tr>
        <td>
            <span>password:</span>
        </td>
        <td>
            <input type="password" class='logintext' ng-model='account.passwordnew.value' ng-class='account.passwordnew.style' title={{account.passwordnew.tooltip}} ui-validate='passwordNewValidation'>
        </td>
    </tr>
    <tr>
        <td>
            <span>confirm it:</span>
        </td>
        <td>
            <input type="password" class='logintext' ng-model='account.confirm.value' ng-class='account.confirm.style' title={{account.confirm.tooltip}} ui-validate='passwordConfirmValidation'>
        </td>
    </tr>
    <tr>
        <td>
            <span>pin:</span>
        </td>
        <td>
            <input type="text" class='logintext' ng-model='account.pin.value'  ng-class='account.pin.style' title={{account.pin.tooltip}} ui-validate='pinValidation'>
        </td>
    </tr>
    <tr>
        <td>
            <span>email:</span>
        </td>
        <td>
            <input type="text" class='logintext' ng-model='account.email.value'  ng-class='account.email.style' title={{account.email.tooltip}} ui-validate='emailValidation'>
        </td>
    </tr>
    <tr>
        <td>
            <span>first name:</span>
        </td>
        <td>
            <input type="text" class='logintext' ng-model='account.firstname.value'  ng-class='account.firstname.style' title={{account.firstname.tooltip}} >
        </td>
    </tr>
    <tr>
        <td>
            <span>last name:</span>
        </td>
        <td>
            <input type="text" class='logintext' ng-model='account.lastname.value' ng-class='account.lastname.style' title={{account.lastname.tooltip}} >
        </td>
    </tr>
    <tr>
        <td>
            <span>display name:</span>
        </td>
        <td>
            <input type="text" class='logintext' ng-model='account.displayname.value' ng-class='account.displayname.style' title={{account.displayname.tooltip}} >
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <form ng-submit="create()" class='loginform'>
                <input type="submit" value="Register" title='Click to Register'>
            </form>
            <form ng-submit="cancel(4)" class='loginform'>
                <input type="submit" value="Cancel" title='Click to Cancel Registration'>
            </form>
        </td>
    </tr>
</table>
