<table class='logintable'>
    <tr>
        <td>
            <span>username:</span>
        </td>
        <td>
            <input type="text" ng-model='account.username.value'; class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>password:</span>
        </td>
        <td>
            <input type="password" ng-model='account.password.value'; class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>confirm it:</span>
        </td>
        <td>
            <input type="password" ng-model='account.confirm.value' class='logintextbox' ng-class='account.confirm.style' ui-validate='passwordConfirm'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>pin:</span>
        </td>
        <td>
            <input type="text" ng-model='account.pin.value'; class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>email:</span>
        </td>
        <td>
            <input type="text" ng-model='account.email.value'; class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>first name:</span>
        </td>
        <td>
            <input type="text" ng-model='account.firstname.value'; class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>last name:</span>
        </td>
        <td>
            <input type="text" ng-model='account.lastname.value'; class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td>
            <span>display name:</span>
        </td>
        <td>
            <input type="text" ng-model='account.displayname.value'; class='logintextbox'/>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <form ng-submit="create()" class='loginform'>
                <input type="submit" value="Register" class='loginbutton'>
            </form>
            <form ng-submit="cancel(4)" class='loginform'>
                <input type="submit" value="Cancel" class='loginbutton'>
            </form>
        </td>
    </tr>
</table>
