.header {
    height:80px;
    width:100%;
    margin:0;
    padding:0;

}
.headerfloat {
    background-color:#000000;
    position:fixed;
    top:0;
}

.headercenter {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}


.headerspacer {
    height:100%;
    width:10%;
/*    background-color:#FFFFFF;*/
    float:left;
}

.headerbutton {
    height:100%;
    width:20%;
    /*background-color:#F0F0F0;*/
    float:left;
}

.loginwrapper {
    background-color:#0F0F0F;
    height:25%;
    width:30%;
}

.login {
    background-color:#FFFFFF;
    
}